<!-- Router Links added -->
<a class="nav-item nav-link" routerLink="/login">Login</a>
<a class="nav-item nav-link" routerLink="/">Home</a>
<a class="nav-item nav-link" routerLink="/tenants">Tenants</a>
<a class="nav-item nav-link" routerLink="/finance">Finance</a>
<a class="nav-item nav-link" routerLink="/properties">Properties</a>
<a class="nav-item nav-link" routerLink="/reports">Reports</a>
<a class="nav-item nav-link" routerLink="/settings">Settings</a>
<a class="nav-item nav-link" routerLink="/logout">Logout</a>

<!-- main content container -->

<router-outlet></router-outlet>
